body { 
    background-color: #f2f1e9;
    margin: 0;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.imgSmall {
    max-width: 50%;
    position: absolute;
    top: 2vw;
    z-index: 100;
}

.arch {
    max-width: 50%;
    position: absolute;
    top: 23vw;
    justify-content: center;
}

.tPill {
    max-width: 50%;
    position: absolute;
    top: 85vw;
    z-index: 100;
}

.exit {
    max-width: 10%;
    position: absolute;
    top: 5vw;
    left: 7vw;
    z-index: 50;
}

.trigger {
    max-width: 40%;
    position: absolute;
    bottom: 10vw;
}

.warning {
    max-width: 80%;
    position: absolute;
    bottom: 9vw;
}

.desc {
    display: flex;
    justify-content: center;
    max-width: 80%;
    position: absolute;
    top: 100vw;
}

a {
    display: flex;
    justify-content: center;
}

.title1 {
    display: flex;
    max-width: 40%;
    position: absolute;
    top: 40vw;
}

.title2 {
    display: flex;
    max-width: 40%;
    position: absolute;
    top: 60vw;
}

.title3 {
    display: flex;
    max-width: 40%;
    position: absolute;
    top: 80vw;  
}

.title4 {
    display: flex;
    max-width: 46%;
    position: absolute;
    top: 100vw;  
}

.title5 {
    display: flex;
    max-width: 50%;
    position: absolute;
    top: 120vw;  
}

.title6 {
    display: flex;
    max-width: 46%;
    position: absolute;
    top: 140vw;  
}

h1 {
    font-family: "big-caslon-fb", serif;
    font-weight: 700;
    font-style: normal;
    color: #11402f;
    font-size: 40vw;
}

p {
    font-family: "Plus Jakarta Sans";
    font-weight:300;
    font-style: normal;
    color: #11402f;
    font-size: 3.3vw;
}

.anH {
    text-align: center;
    display: flex;
    position: absolute;
    bottom: 90vw;
}

.imH {
    text-align: center;
    display: flex;
    position: absolute;
    bottom: 50vw;
}

.ayH {
    text-align: center;
    display: flex;
    position: absolute;
    bottom: 10vw; 
}

.beH {
    text-align: center;
    display: flex;
    position: absolute;
    bottom: -30vw;    
}

.hidden {
    display: none;
}