body { 
    background-color: #11402f;
    margin: 0;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.imgSmall {
    max-width: 50%;
    position: absolute;
    top: 10vw;
}

a {
    display: flex;
    justify-content: center;
}

.title1 {
    display: flex;
    max-width: 40%;
    position: absolute;
    top: 40vw;
}

.title2 {
    display: flex;
    max-width: 40%;
    position: absolute;
    top: 60vw;
}

.title3 {
    display: flex;
    max-width: 40%;
    position: absolute;
    top: 80vw;  
}

.title4 {
    display: flex;
    max-width: 46%;
    position: absolute;
    top: 100vw;  
}

.title5 {
    display: flex;
    max-width: 50%;
    position: absolute;
    top: 120vw;  
}

.title6 {
    display: flex;
    max-width: 46%;
    position: absolute;
    top: 140vw;  
}

h1 {
    font-family: "big-caslon-fb", serif;
    font-weight: 700;
    font-style: normal;
    color: #11402f;
    font-size: 40vw;
}

.anH {
    text-align: center;
    display: flex;
    position: absolute;
    bottom: 90vw;
}

.imH {
    text-align: center;
    display: flex;
    position: absolute;
    bottom: 50vw;
}

.ayH {
    text-align: center;
    display: flex;
    position: absolute;
    bottom: 10vw; 
}

.beH {
    text-align: center;
    display: flex;
    position: absolute;
    bottom: -30vw;    
}

.hidden {
    display: none;
}